.pokemon-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 20;
    backdrop-filter: blur(15px);
    flex-direction: column;
    padding:10px;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    position: relative;
    margin: 20px;
}

.gif-container{
    max-height:290px;
}

.modal-img{
    width: 100%;
    aspect-ratio: 1.2 / 1;
    object-fit: contain;
    padding: 20px;
    image-rendering: pixelated;
}

.close-btn, .sound-btn{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background: #fff;
    padding:5px;
    margin:20px;
    transition: transform 0.3s ease;
}

.sound-btn{
    left: 0;
    right:unset;
}

.close-btn img, .sound-btn img{
    height: 25px;
    margin:0;
    vertical-align: top;
}

.nav-btn img, .modal-nav-buttons button img{
    height: 25px;
    vertical-align: top;
}

.stats{
    margin-top:10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.statbar-container{
    display:flex;
    align-items: center;
}

.statbar-container span {
    width: 107px;
    text-align: center;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 600;
    background: #fff;
    padding:5px;
}

.custom-progress-bar{
    width: calc(100% - 84px);
    height:24px;
    background:#111;
}

.custom-progress-bar-fill {
    background:#fff;
    color: #000;
    font-size: 12px;
    height:100%;
}

.modal-section {
    transition: opacity 0.5s ease;
}

.pokemon-info{
    background: #fff;
    margin-top:10px;
    padding:10px;
}

.pokemon-info p{
    margin:0;
    font-weight: 600;
}

.modal-nav-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: -47px;
    margin-bottom: 10px;
}

.modal-nav-buttons button, #prev-section-btn, #next-section-btn{
    padding: 5px;
}

#stats-section, #info-section {
    opacity: 1;
    display: block;
}

#stats-section[style*="display: none"], 
#info-section[style*="display: none"] {
    opacity: 0;
    transition: opacity 0.5s ease;
}

@media (max-width: 440px) {
    img.type-icon {
        width: 28px;
        height: 28px;
    }
    h3{
        font-size:20px;
    }
    .statbar-container span{
        font-size: 16px;
    }
}